/* @import url('/block-brend/block-brend.css');
@import url('/block-brends/block-brends.css');
@import url('/swiper/swiper.css');
@import url('/header/header.css'); */

@media screen and (min-width:319px) and (max-width:767px){
    body {
        font-size: 16px;
        margin: 0;
    }
    .container {
        max-width: 767px;
        min-width: 320px;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .main {
        width: 100%;
        height: auto;
        background-color: #F8F8F8;
    }

    .block-brends {
        height: 90px;
        width: auto;
        margin: 16px 0 16px 0;
        overflow: hidden;
        display: flex;
    }

   .block-brend {
        width: 240px;
        height: 72px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }

    .block-brends__list{
        display: grid;
        padding-left: 0;/*переопред*/
        margin: 0;
        white-space: nowrap;/*переопр*/
        grid-auto-flow: column;/*переопр*/
        overflow:hidden;
        /* gap: 0 16px; */
        list-style: none;
        width: 100%;/*переопр*/
    
    }

    .read-more {
        position: relative;
        width: auto;
        height: 24px;
        margin: 16px auto 25px 20px;
        border: none;
        background-color: #F8F8F8;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 auto;
    } 
    .main__read-more{
        display: none !important;
    }

    .block-brend__ic-go {
        margin-right: 10px;
        margin-left: auto;
    }

    .block-brend__logo {
        margin-left: 5px;
        margin-right: auto;
    }

    .header__heading { /*общий*/
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #7E7E82;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }

    .header {
        width: 100%;
        height: auto;
        padding: 16px;
        border-top: 1px solid #D9FFF5;
        background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
       
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
    }

    

}
