/* @import url('/block-brend/block-brend.css');
@import url('/block-brends/block-brends.css');
@import url('/block-brends/--open/block-brends--open.css');
@import url('/header/header.css');
@import url('/read-more/read-more.css');
@import url('/block-brends/__list/block-brends__list.css'); */

@media screen and ( min-width:768px) and (max-width: 1365px) {
    
    body {
        margin: 0;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    .container {
        max-width: 1365px;
        min-width: 768px;
        height: auto;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .main {
       
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #F8F8F8;
    }

    .block-brend__ic-go {
        margin-right: 10px;
        margin-left: auto;
    }

    .block-brend__logo {
        margin-left: 5px;
        margin-right: auto;
    }

    .block-brend {
        min-width: 224px;
        max-width: 240px;
        background-color: #FFFFFF;
        width: auto;
        height: 72px;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .block-brends__list {
        display: grid !important;
        padding-right: 2px;
        margin: 0;
        white-space: wrap;
        grid-template-columns: repeat(3, 1fr);
        overflow:hidden;
        gap:16px;
        list-style: none;
        height: auto;
    }

    .block-brends {
        height: 175px;
        width: auto;
        
        margin: 16px 16px 16px 16px;
        overflow: hidden;
    }

    .block-brends--open {
        height: auto;
    }

    .header__heading { /*общий*/
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #7E7E82;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }

    .header {
        width: 100%;
        height: auto;
        padding: 16px;
        border-top: 1px solid #D9FFF5;
        background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
       
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
    }

    .read-more__icon{
        width: 24px;
        height: 24px;
        margin-left: -10px;
    }

    .read-more__icon-img {
        width: 24px;
        height: 24px;
    }

    .read-more__text-button {
        font-weight: bold;
        margin: 0;
        text-align: left;
        margin-left: 5px;
    }

    .read-more {
        position: relative;
        width: auto;
        height: 24px;
        margin: 16px auto 25px 16px;
        border: none;
        background-color: #F8F8F8;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 auto;
    }


}