.block-brends__list {
    display: grid !important;
    padding-right: 2px;
    margin: 0;
    white-space: wrap;
    grid-template-columns: repeat(3, 1fr);
    overflow:hidden;
    gap:16px;
    list-style: none;
    height: auto;
}