

@media screen and (min-width: 1366px) {

    body {
        display: flex;
        justify-content: flex-start;
        /* font-family: "TT Lakes Regular"; */
    }
    .b-slide-menu-upp-m {
        flex-wrap: wrap; /*переопределено*/
    }

    .main-blog {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .background-copy-upp-m {
        max-width: 1120px;
        width: auto;
        min-width: 1046px;
        min-height: 535px;
        max-height: 100%;
        background: #F8F8F8;
        margin: 0;
        padding: 0;
        padding-top: 1em;
    }

    .b-article__image-upp-m { 
        min-width: 532px;
        width: 1fr;
        height: 307px;
        box-sizing: border-box;
        align-self: flex-start;
        border: 2px solid #FFFFFF;
        border-radius: 5px;
    }


    .b-title__heading-upp-m {
        display: flex;
        margin: 0;
        padding-left: 0px;
        width: auto;
    }

    .b-title__heading-upp-m::before {
        margin-right: 15px;
    }

    .slide-menu-upp-m {
        margin-right: 10px;
    }

    .b-article-upp-m {
        display: flex;
        margin: 15px;
        width: auto;
        justify-content: space-between;
        height: auto;
    }

    .b-parag-upp-m {
        display: flex;
        flex-direction:column;
        justify-content: start;
    }

    .b-article__parag-upp-m {
        display: inline-block;
        width: 1fr/*312px*/;
        height: 160px; 
        top: 240px;
        left: 16px;
        overflow: hidden;
        margin-right: 40px;
    }

    .b-article__parag-upp-m--open{
        height: auto !important;
    }

    .b-article__read-more-upp-m {
        width: 132px;
        height: 24px;
        margin-top: 10px;
    }


    .b-rep-check-upp-m {
        list-style-type: none;
        display: flex;
        width: auto;
        height: 100%;
        align-items: center;
        justify-content:space-around;
        margin-right: 20px;
    }

    .b-rep-check-upp-m::before{
        display: none; 
    }

    .b-ccprc-upp-m {
        margin-right: 15px;
    }

    .b-group-icon-upp-m {
        display: flex;
        width: auto;
        height: 100%;
    }

    .b-call-prof-upp-m {
        display: none;
    }

    .b-title-upp-m {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0 20px 0;
    }

    .header-upp-m {
        display: none;
    }

    .repair-icon-upp-m {
        display: flex;
    }

    .repair-icon-upp-m::before {
        content: "Оставить заявку";
        width: auto;
        height: auto;
        align-content: center;
        margin-right: 10px;
        color: black;
        text-decoration: none;
    }

    .checkstatus-icon-upp-m{
        display: flex;
    }

    .checkstatus-icon-upp-m::before{
        content: "Статус ремонта";
        width: auto;
        height: auto;
        align-content: center;
        margin-right: 10px;
        color: black;
        text-decoration: none;
        margin-left: 30px;
    }

    .url-upp-m {
        text-decoration: none;
    }

    .button-upp-m {
        padding-left: 7px;
        padding-right: 6px;
    }

    .osnova {
        min-width: 1046px;
        max-width: 1120px;
        width: auto;
       
    }

    .header-menu__ic-burger {
        display: none;
    }


    .header-menu__ic-group{
       margin-top: 20px;
        
    }
 
    /* новые блоки. блок техники ------------------------------------------------*/

    .block-technics {
        height: 175px;
        width: auto;
        padding: 0;
        margin: 16px 16px 16px 16px;
        overflow: hidden;
    }

    .block-technics--open {
        height: auto !important;
    }

    .block-technics__list{
        display: grid !important;
        padding-right: 2px;
        margin: 0;
        white-space: wrap;
        grid-template-columns: repeat(4, 1fr);
        overflow:hidden;
        gap:16px;
        list-style: none;
        height: auto;
        width: auto;
    }

    .block-technic {
        min-width: 224px;
        max-width: 240px;
        background-color: #FFFFFF;
        width: auto;
        height: 160px;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        box-sizing: border-box;
    }

    .main {  
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #F8F8F8;
    }

    .block-technic_ic-go {
        align-self: flex-end;
        margin: 0;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .text {
        display:inline-block;
        align-self: start;
        font-weight: bold;
        margin: 0;
        margin-left: 15px;
        margin-top: 15px;
    } 

    /* блок цены */
    .price-list{
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .price-rectangle {
        min-width: 720px;
        max-width: auto;
        height: auto;
        background-color: white;
        
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 6px;
    
    }

    .header-tab{
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-top: 20px;
        padding: 0;
        height: auto;
        width: auto;
    }


    .header-tab__work,
    .header-tab__price,
    .header-tab__time {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        color: #7E7E82;
    }

    .service__work,
    .service__price,
    .service__time {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        color: black;
    }
    
    .service {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #EAEAEA;
    }

    .service:last-child{
        border-bottom: none;
    }

    .service__work,
    .header-tab__work {
        justify-content:flex-start;
        align-items: center;
        padding-left: 10px;
        min-width: 360px;
        width: 1fr;
        padding: 0;
        height: 58px;
      
        
    }

    .service__price,
    .header-tab__price {
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        min-width: 80px;
        width: 1fr;
        padding: 0;
        margin: 0;
        height: 58px;
        
    }

    .header-tab__time,
    .service__time {
        justify-content: space-between;
        display: flex;
        margin-right: 10px;
        align-items: center;
        padding-left: 10px;
       
        width: 260px;
        padding: 0;
        margin: 0;
        height: 58px;
        
    }

    .header-tab__text,
    .service__text {
        display: inline-block;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        margin-left: 15px;
    }

    .service__link {
        margin: 0;
        margin-right: 10px;
    } 

    /* Все цены указаны с у */
    .price-list__comment {
        display: inline-block;
        width: 421px;
        height: 60px;
        
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        color:#1B1C21;
        margin: 10px 20px;
    }

    .commercial{
        width: 292px;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .comercial__ico {
        width: 10px;
        height: 10px;
        margin-left: 5px;
    }

    .price-list__commercial {
        margin: 10px 20px;
    }
     
    
    /* footer */

     .osnova__footer {
        width: 100%;
        box-sizing: border-box;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 0 20px;
        margin: 0;
        border-top: 1px solid #D9FFF5;
    }

    .company,
    .politconf,
    .disclem {
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
    }

    .company {
        width: 218px;
        height: 32px;
        text-align: left;
    }

    .politconf {
        width: 214px;
        height: 32px;
        text-align: center;
        vertical-align: top;

    }

    .disclem {
        min-width: 213px;
        max-width: 330px;
        width: auto;
        height: 32px;
        text-align: right;
    }

    /* Блок обратная связь */

    a:hover {
        opacity: 0.7;
    }

    .feedback,
    .orderACall {
        width: 440px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        box-shadow: 2px 0px 4px 0px #454F7E05,
                -16px 0px 52px 0px #0E185033;
        z-index: 99;
    }

    .feedback--close,
    .orderACall--close {
        position: absolute;
        right: -1000px;
        top: 0;
        z-index: 99;
    }

    .feedback--open,
    .orderACall--open {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 99;   
    }

    .blure-feedback {
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.8 !important;
        z-index: 10;
    }

    .blure-feedback--close {
        position: absolute;
        right: -10000px;
        top: 0;
    }

    .blure-feedback--open {
        position: fixed;
        left: 0;
        top: 0;
    }

    .feedback__heading,
    .orderACall__heading {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .feedback__elem,
    .orderACall__elem {
        width: 376px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        align-self: center;
        margin-bottom: 10px;
        padding-left: 15px;
        font-size: 16px;
        
    }

    .message {
        display: inline-block;
        height: 118px;
        text-align: left;
        vertical-align: top;
    }

    .message::placeholder {
        line-height: 20px;
        transform: translateY(-42.5px);
    }

    .feedback__disclaimer,
    .orderACall__disclaimer {
        display: inline-block;
        width: 376px;
        height: auto;
        font-size: 14px;
        align-self:center;
        margin-bottom: 10px;
    }

    .feedback__span,
    .orderACall__span {
        color: #FF3E79; 
    }

    .feedback__button,
    .orderACall__button {
        width: auto;
        height: auto;
        padding: 0;
        background-color: white;
    }

    .feedback__button:hover,
    .orderACall__button:hover {
        opacity: 0.7;
    }

    .feedback__to-send,
    .orderACall__to-send {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 20px;
    }

    .feedback__close,
    .orderACall__close {
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 20px;
        margin-right: auto;
        display: none;
    }

    .blure-feedback__close {
        position: absolute;
        right: 470px;
        top: 30px;
    }
    
    .service__text-head {
        display: none;
    }

    .b-timeandbutt {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        align-items: center;
    }


}