@import url('swiper-button.css');
@import url('swiper-pagination-bullet.css');
@import url('swiper-pagination.css');
@import url('swiper-slide.css');
@import url('swiper-wrapper.css');

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 16px 0 26px 16px !important;
    z-index: 1;
    display: block;
}